$dashboard-colors: (
  menu-item-color: $base-white-color,
  menu-item-bg: darken($base-primary-blue, 10%),
  menu-item-bg-active: $base-primary-blue,
  menu-item-bg-hover: lighten($base-primary-blue, 10%),
  menu-bg: $base-light-blue-color,
);

.dashboard {
  &__menu {
    width: 20%;
    margin: 0;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    background-color: map-get($dashboard-colors, 'menu-bg');

    &-item {
      margin: 0;
    }

    &-button {
      @include text-size(default);
      border: none;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      width: 100%;
      font-weight: bold;
      cursor: pointer;
      color: map-get($dashboard-colors, 'menu-item-color');
      background: map-get($dashboard-colors, 'menu-item-bg');

      &.active {
        background: map-get($dashboard-colors, 'menu-item-bg-active');
      }

      &:hover {
        background: map-get($dashboard-colors, 'menu-item-bg-hover');
      }

      &:focus {
        outline: none;
      }
    }
  }
}
