
/* remove default wordpress block margin styles in editor */

/* stylelint-disable */
.editor-block-list__layout .editor-block-list__block[data-align=full] {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* stylelint-enable */

.text-component-element {
  @extend %input-body-hover;
  @extend %input-body-default;
  .mce-content-body {
    p {
      @include text-size(large);

      @extend %input-element-style;
      line-height: 1.5;
      font-weight: normal;
      margin: 5px 0;
    }
    h1 {
      @include text-size(big);

      @extend %input-element-style;
      line-height: 1.21;
      font-weight: 600;
      margin: 1px 0;
    }
  }
}

.qz-full-width {
  width: 100%;
}

.qz-input-mce-class {
  box-sizing: border-box;
  padding: 6px 8px;
  transition: 'border-color' 0.3s linear;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  &.inactive {
    border-color: $base-dark-grey-color;
  }
  &.active {
    border-color: $base-primary-blue;
  }
  p {
    margin: 0;
  }
}

.qz-help-mce-class {
  font-style: italic;
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.2;
}

.qz-label-mce-class {
  margin-bottom: 10px;
  font-weight: bold;
  cursor: default;
}

.qz-option-title-class {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.qz-panel-group {
  margin: 10px 0;

  &--big {
    border-bottom: 1px dashed $base-grey-color;
    padding: 10px 0;
  }

  .components-panel__row {
    margin: 15px 0;
    align-items: flex-start;
  }

  .components__label {
    line-height: 1;
    font-weight: bold;
    &-helper {
      @extend %title-helper-message;
    }
  }

  .qz-panel-row {
    width: 100%;
    margin: 15px 0;

    &--reverse-flex {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }
  }

}
.qz-table-group {
  margin: 10px 0;

  .components-panel__row {
    margin: 15px 0;
    display: flex;
    align-items: flex-start;
  }

  .components__label {
    width: 200px;
    padding-right: 10px;
    line-height: 1;
    font-weight: bold;
    &-helper {
      @extend %title-helper-message;
    }
  }

  .components__field {
    margin-bottom: 9px;
    padding-left: 10px;
  }

}

.media-image-class {
  display: block;
}

.quizess-quiz-section {
  .editor-inserter {
    padding: 0 100px;
  }
  .components-button {
    color: $base-white-color;
  }
  .block-list-appender__toggle,
  .block-list-appender__toggle:focus:enabled {
    background-color: $base-primary-blue;
  }
}
