$close-button-colors: (
  color: $base-white-color,
);

.modal {
  $this-modal: &;

  &__top-bar {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    @include media(tablet up) {
      padding: 10px;
    }

    &--light {
      background-color: map-deep-get($theme-colors, light, 'primary-color');
    }

    &--dark {
      background-color: map-deep-get($theme-colors, dark, 'primary-color');
    }

    #{$this-modal}__title {
      @include text-size(large);
      color: map-get($close-button-colors, 'color');
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      letter-spacing: 2px;
    }

    .btn-close {
      @extend %button-reset;
      background: transparent;
      cursor: pointer;
      opacity: 1;
      color: map-get($close-button-colors, 'color');
      transition: opacity 0.3s ease;

      width: 20px;
      height: 20px;

      @include media(tablet up) {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background: transparent;
        opacity: 0.8;
      }

      &::after {
        content: 'X';
        display: block;
        font-weight: bold;
        font-size: 20px;
      }

    }
  }

}
