@mixin animation (
  $animation,
  $duration: 035s,
  $easing: ease-in-out,
  $delay: 0,
  $direction: forwards,
  $fillmode: forwards) {

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: $fillmode;
  animation-direction: $direction;
  animation-timing-function: $easing;

}

// -- Animations -- //

@keyframes scale-in {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.98);
  }
}
@keyframes reveal {
  0% {
    left: 150vw;
    transform: translateZ(0);
  }
  1% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes hide {
  0% {
    left: 0;
    opacity: 1;
    transform: translateZ(0);
  }
  99% {
    left: 0;
    opacity: 0;
  }
  100% {
    left: 150vw;
    transform: translateZ(0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translate(-100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes slide-out-left {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
@keyframes rotate-and-go {
  0% {
    transform: rotateZ(180deg);
  }

  70% {
    transform: rotateZ(0deg) translateX(0);
  }

  100% {
    transform: translateX(-10px);
  }
}
@keyframes rotate-and-go-back {
  0% {
    transform: translateX(-10px);
  }

  20% {
    transform: rotateZ(0deg) translateX(0);
  }

  100% {
    transform: rotateZ(180deg);
  }
}
