$quiz-colors: (
  bg-color: $base-primary-blue,
  success-message: $base-persian-color,
  fail-message: $base-punch-color,
  submit-color: $base-punch-color,
);

.quiz {
  $this-quiz: &;

  &__content {
    background-color: map-get($quiz-colors, 'bg-color');
    position: relative;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100%;
    flex: 1;

    &::after {
      @extend %blur-bg;
    }

    &--light {
      #{$this-quiz}__welcome--message {
        color: map-deep-get($theme-colors, light, 'color');
      }
    }

    &--dark {
      #{$this-quiz}__welcome--message {
        color: map-deep-get($theme-colors, dark, 'color');
      }
    }
  }

  &__welcome {
    &--outer {
      @extend %centered-content;
      flex: 1;
      z-index: map-get($zindex, 'quiz-outer');
    }

    &--message {
      text-align: center;
      line-height: 1.1;
      padding: 0 40px;
    }
  }

  &__buttons {
    @extend %centered-content;
    $this-buttons: &;
    flex: 1;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: map-get($zindex, 'quiz-outer');

    &--inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media(mobile down) {
      #{$this-buttons}--inner,
      #{$this-buttons}--start {
        width: 100%;
      }

      .btn {
        width: 100%;
        margin: 5px 0;
      }
    }
  }

  &__message {
    @extend %paragraph-reset;
    @extend %text-body;
    text-align: center;
    margin: 10px;
    font-weight: bold;

    &--success {
      color: map-get($quiz-colors, 'success-message');
    }

    &--fail {
      color: map-get($quiz-colors, 'fail-message');
    }
  }

  &__admin-submit {
    &-outer {
      pointer-events: none;
      position: fixed;
      z-index: map-get($zindex, 'quiz-submit');
      top: 0;
      left: 0;
      padding-left: 10px;
      opacity: 0.5;
    }

    &-message {
      @include text-size(tiny);
      color: map-get($quiz-colors, 'submit-color');
      font-weight: bold;
    }
  }

}
