$pagination-vars: (
  color: $base-white-color,
  background: $base-white-color,
  text-size: (
    mobile: (
      font-size: 18px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 24px,
    ),
  ),
);

.pagination {
  .screen-reader-text {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    height: 1px;
  }

  .nav-links {
    @include responsive($pagination-vars, 'text-size');
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .page-numbers {
    display: inline-block;
    padding: 5px 8px;
    color: map-get-strict($pagination-vars, 'color');

    &.current {
      cursor: default;
      font-weight: bold;
      background-color: map-get-strict($pagination-vars, 'background');
    }
  }
}

.quizess__pagination {
  &--dark {
    background-color: map-get-deep($theme-colors, 'dark', 'primary-color');

    .pagination .page-numbers.current {
      color: map-get-deep($theme-colors, 'dark', 'primary-color');
    }
  }

  &--light {
    background-color: map-get-deep($theme-colors, 'light', 'primary-color');

    .pagination .page-numbers.current {
      color: map-get-deep($theme-colors, 'light', 'primary-color');
    }
  }
}