$answer-colors: (
  success-color: $base-persian-color,
  fail-color: $base-punch-color,
  color: $base-white-color,
);

.answer {
  cursor: pointer;
  list-style: none;
  font-size: 16px;
  width: 100%;
  padding: 5px 10px;
  margin: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: map-get($answer-colors, 'color');

  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }

  @include media(tablet up) {
    padding: 10px;
  }

  &__text {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex: 1;
    line-height: 1;
  }

  &__number {
    box-sizing: content-box;
    margin: auto 0;
    font-weight: bold;
    border: 2px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--light {
    &--normal {
      background-color: map-deep-get($theme-colors, light, 'bg-color');
      color: map-deep-get($theme-colors, light, 'color');
    }

    &--correct {
      background-color: map-get($answer-colors, 'success-color');
    }

    &--incorrect {
      background-color: map-get($answer-colors, 'fail-color');
    }

    &--active {
      background-color: map-deep-get($theme-colors, dark, 'bg-color');
      color: map-deep-get($theme-colors, dark, 'color');
    }
  }

  &--dark {
    &--normal {
      background-color: map-deep-get($theme-colors, dark, 'bg-color');
      color: map-deep-get($theme-colors, dark, 'color');
    }

    &--correct {
      background-color: map-get($answer-colors, 'success-color');
    }

    &--incorrect {
      background-color: map-get($answer-colors, 'fail-color');
    }

    &--active {
      background-color: map-deep-get($theme-colors, light, 'bg-color');
      color: map-deep-get($theme-colors, light, 'color');
    }
  }
}
