$background-options-block: (
  primary-bg-color: $base-grey-color,
  primary-text-color: $base-dark-grey-color,
);

.wp-block-quizess-cpt-quizess-background-options-block {
  @extend %block-element-default;
  padding: 20px;
  background-color: map-get($background-options-block, 'primary-bg-color');
  color: map-get($background-options-block, 'primary-text-color');

  .background-options {
    @extend %block-element-flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .background-option {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remove__media-btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .background-color-element,
  .background-image-element {
    border: 1px dashed;
    width: 200px;
    height: 200px;
  }

  .media-image-class {
    width: 100%;
  }

  .bg-label {
    font-weight: bold;
    text-align: center;
  }

}
