$menu-colors: (
  color: $base-white-color,
  submenu-bg: rgba($base-dark-grey-color, 0.3),
  link-bg: rgba($base-dark-grey-color, 0.1),
);

.menu {
  height: 100%;

  &--light {
    background-color: desaturate(map-deep-get($theme-colors, light, 'primary-color'), 20%);
  }

  &--dark {
    background-color: desaturate(map-deep-get($theme-colors, dark, 'primary-color'), 20%);
  }

  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu__item {
    padding: 0;
    color: map-get($menu-colors, 'color');
    display: flex;
    flex-direction: column;

    &__title {
      display: block;
      padding: 0 20px;
    }
  }

  .has-subitems {
    & > .menu__item__link {
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        padding: 5px;
        transform: rotate(-45deg);
        box-shadow: inset 2px -2px 0 1px map-get($menu-colors, 'color');
        transition: transform 0.3s ease;
      }
    }
  }

  .has-menu-open {
    & > .menu__item__link {
      &::after {
        transform: rotate(135deg);
      }
    }
  }

  .menu__submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: map-get($menu-colors, 'submenu-bg');

    .menu__item__link {
      @include text-size(medium);
      opacity: 1;
      height: 50px;
    }
  }

  .menu__item__link {
    @include text-size(medium);
    text-decoration: none;
    letter-spacing: 1px;
    color: map-get($menu-colors, 'color');
    transition: {
      property: opacity, height, background-color;
      duration: 0.3s;
      timing-function: ease;
    }
    height: 50px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: map-get($menu-colors, 'link-bg');
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .menu__submenu-enter {
    opacity: 0.01;

    .menu__item__link {
      opacity: 0;
      height: 0;
    }
  }

  .menu__submenu-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in-out;

    .menu__item__link {
      opacity: 1;
      height: 50px;
    }
  }

  .menu__submenu-exit {
    opacity: 1;

    .menu__item__link {
      opacity: 1;
      height: 50px;
    }
  }

  .menu__submenu-exit-active {
    opacity: 0.01;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;

    .menu__item__link {
      opacity: 0;
      height: 0;
    }
  }

  .menu__header {
    $this-menu-header: &;
    background: map-get($menu-colors, 'submenu-bg');
    display: flex;
    min-height: 50px;

    &__logo {
      width: 100%;
      padding: 0 50px;
      height: 150px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: content-box;
    }

    @include media(tablet up) {
      min-height: 150px;

      #{$this-menu-header}__logo {
        height: 50px;
        width: 50px;
      }
    }
  }

}
