$base-black-color:       #000000;
$base-light-grey-color:  #A0A5AA;
$base-dark-grey-color:   #252525;
$base-grey-color:        #EBEFF2;
$base-white-color:       #FFFFFF;
$base-light-blue-color:  #607D8B;
$base-blue-color:        #2746A1;
$base-primary-blue:      #0073A8;
$base-froly-color:       #F3635A;
$base-punch-color:       #DC453A;
$base-yellow-color:      #FEB916;
$base-sushi-color:       #8BC34A;
$base-persian-color:     #009688;

$base-box-shadow: rgba($base-light-blue-color, 0.5);
$dark-box-shadow: rgba($base-dark-grey-color, 0.5);
$base-modal-bg: rgba($base-dark-grey-color, 0.2);

$theme-colors: (
  light: (
    color: $base-blue-color,
    bg-color: $base-yellow-color,
    primary-color: $base-sushi-color,
    secondary-color: $base-persian-color,
  ),
  dark: (
    color: $base-white-color,
    bg-color: $base-blue-color,
    primary-color: $base-froly-color,
    secondary-color: $base-punch-color,
  ),
);
